/ ================================================
/ /peiodic/new
/ 元素の新規登録画面
/ ================================================

= render partial: 'form',
  locals: { periodic_atom: @periodic_atom }
