// ==========================================
// ボタン,リンクのスタイル
// ==========================================
@import "../../Setting/config";
@import "../../Setting/function";
@import "../Mixin/placeholder";
@import "../Mixin/newmorphism";
@import "../Mixin/btn";


// ==========================================
// リンクのスタイル
// ==========================================
.h1-link {
  @extend %a-action;
}


.link-of-innercell {
  @extend %a-action;
  display: block;
  width: 100%;
  padding-left: 0.5rem;
  // padding: 0.5rem;
  box-sizing: border-box;
  // @extend .a;
  // background-color: blue;
  // color: blue;
  // height: 100%;
}

// ==========================================
// ボタンのスタイル
// ==========================================
// 平に出っ張ったボタン
.btn__bump {
  // @extend %a-action;
  // display: block;
  @extend %btn-action;
  @include bump(sss);
}

// ul-li内のタブ状のボタン
.btn-of-tab {
  // @extend %a-action;
  // display: block;
  @extend %btn-action;
  @include bump(sss);
  // width: max-content;
  border-radius: 5px 5px 0px 0px;
}

// くっきりした立体的なボタン
.btn__distinct {
  @extend %btn-action;
  @include distinct(sss);
  width: max-content;
}

// submit用のボタン
.btn__submit {
  @extend %cleardeco;
  @extend .btn__distinct;
}