@import "../../Setting/config";
@import "../../Setting/function";
@import "../Mixin/placeholder";
@import "../Mixin/newmorphism";
@import "../Mixin/form";

// ==========================================
// フォームのスタイル
// ==========================================
.form__label {
  @include radiation-text(sss, $color-font);
  padding-bottom: 0.5rem;
}

// フォーム入力部分をまとめるモジュール ======================
.form__group {
  @include flexcontainer(column);
  margin: 1rem 0;
}

.form__group_mol {
  @include flexcontainer(row, wrap);
}

.molinput-set {
  @include flexcontainer(column);
  margin: 1rem;
}

// フォーム入力部分のスタイルを指定 ===============
.form__control_tex {
  @extend %form__control;
  // width: 50%;
  min-width: 10rem;
  padding: 0px 6px;
}

.form__control_texarea {
  @extend %form__control;
  // width: 50%;
  min-width: 10rem;
  min-height: 6rem;
  padding: 0px 6px;
}

.form__control_molratio {
  @extend %form__control;
  width: 5rem;
  padding: 0px 6px;
}

.form__checkbox {}