@import "../../Setting/config";
@import "../../Setting/function";
@import "../Mixin/placeholder";
@import "../Mixin/newmorphism";
@import "../Project/btn";

// ==========================================
// header内モジュール
// ==========================================
.header__h1 {
  // width: 50%;
  padding: 0 1rem;
  // font: {
  //   size: 3rem;
  // }
}

.header__nav {
  padding-right: 1rem;

  & .__ul {
    height: 60%;

    & .__li {
      // padding: 0px 10px;
      cursor: pointer;
    }
  }
}

// ==========================================
// main内モジュール
// ==========================================
.alert-success {
  font-size: 1rem;
  // color: white;
  // background: $color-action;
  @include video-billboard;
}

.show__materialname {
  // display: inline;
  // @include radiation-text(ss);
  // text-shadow: shadowset(ss, tex) $color-font;
  text-align: center;
  padding: 1rem 0;

  text-shadow: shadowset(ss, tex) rgba($color-font, 0.9),
    lightset(ss, tex) rgba($color-font, 0.9);

  @keyframes neonlit {
    0% {
      color: rgba($color-font, 0.9);
      text-shadow: shadowset(ss, tex) rgba($color-font, 0.9),
        lightset(ss, tex) rgba($color-font, 0.9);
    }

    100% {
      color: rgba($color-font, 0.75);
      text-shadow: shadowset(ss, tex) rgba($color-font, 0.5),
        lightset(ss, tex) rgba($color-font, 0.5);
    }
  }

  animation: neonlit 2s ease-in-out 500ms 4 alternate backwards;
}

// main内のnavigation
// .main__ul_tabs {
//   border-bottom: none;
// z-index: 30;



// input {
//   // チェックボックスの非表示
//   display: none;

//   // 選択したタブのスタイルを変える
//   &:checked+.btn-of-tab {
//     @include depressed(sss);
//   }
// }

// .btn-of-tab {
//   border-bottom: 2px solid $color-back;
// }


// // }

.main__ul_tabs {
  border-bottom: none;
  // z-index: 30;

  & .__li_tab {
    border-bottom: 2px solid $color-back;

    // .ratio-data {
    //   visibility: collapse;
    //   background: blue;
    // }

    >input {
      // チェックボックスの非表示
      display: none;

      // 選択したタブのスタイルを変える
      &:checked+.btn-of-tab {
        @include depressed(sss);
      }
    }


  }
}