@import "../../Setting/config";
@import "../../Setting/function";
@import "../Mixin/placeholder";
@import "../Mixin/newmorphism";
@import "../Project/btn";

// ==========================================
// nav-tab
// ==========================================
.header__nav {
  & .__ul {
    & .__li {}
  }
}

// main内のnavigation
.main__nav {
  @include flexcontainer(row, wrap);
  position: relative;
  //汎用的にrelative、子要素にposition設定するため
  // top: ●●●; //positionを利用するなら指定
  margin-left: 5px;
  border-bottom: none;
  // z-index: 30;

  & .__item {
    margin: 0 4px;
    padding: 0.5rem 0.5rem;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid $color-back;
    @include bump(sss);
    @include depressed(sss);

    &:active {
      @include depressed(sss);
      @include active-text(s);
    }

    & .__link {
      @extend .a;
      padding: 0.5rem 0.5rem;
      // height: 1.5rem;
    }

  }
}