@import "../../Setting/config";
@import "../../Setting/function";
@import "../Mixin/placeholder";
@import "../Mixin/newmorphism";
@import "../Mixin/table";
@import "btn";

// ==========================================
// tableのためのモジュール
// ==========================================
.main__table {
  @extend %table;
  @include table-frame(separate, $table-framewidth, $table-corners);
  @include bump-depressed(ss);
  border: 1px solid $color-back;
  // z-index: 30;
  @include four-corners-kadomaru($innercell-corner);
}

.__thead {
  width: 100%;
}

.__tr {
  & .__th {
    // width: (max-content + 10px);
    // max-width: 3.5rem;
    // min-width: 3rem;// width: 3.75rem;
    padding: 0.5rem;
    @include depressed(sss);
    @include content-scroll;
  }

  // 最初のth, nameカラム
  .__th_namecolumn {
    @extend .__th;
    width: 10rem;
    min-width: 5rem;
  }

  // 編集/削除カラム
  .__th_lastcolumn {
    @extend .__th;
    width: 132px;
  }

  // users の管理者カラム
  .__th_admin {
    @extend .__th;
    min-width: max-content;
  }
}

// tbody内 -----------------------------
.__tbody {
  // visibility: collapse;
  // display: none;

  & .__tr {}

  & .__td {
    font-family: Segoe UI;
    @include content-scroll;
  }

  // 名前の入るセル
  .__td_namecell {
    @extend .__td;
    @include depressed(sss);
    padding-left: 0.25rem;
    height: 0;
  }

  // データの入るセル
  .__td_datacell {
    @extend .__td;
    @include depressed(sss);
    padding-left: 0.25rem;
  }

  // 編集・削除ボタンの入るセル
  .__td_conbtncell {
    @extend .__td;
    @include contain-btn-cell;
  }


}


// tbodyの表示 -----------------------------
// #all:checked~.contents>#all_content,
// #ratio-data,
// #mol-data {
//   visibility: visible;
// }

// #tab_item__ratio:checked~.main__table>#ratio-data,
// #tab_item__mol:checked~.main__table>#mol-data {
//   visibility: visible;
// }

// JavaScript -----------------------------
.tr-lighting {
  background-color: $color-back-darken;
  @include hover-text(ss);
}

// .showbody {
//     visibility: visible;
// }

.invisiblebody {
  visibility: collapse;
}