@import "../../Setting/config";
@import "../../Setting/function";
@import "placeholder";

// ==========================================
// 平面でっぱり
@mixin bump($scale, $shadow-width: 0) {
  box-shadow: shadowset($scale) $shadow-width $color-back-darken,
    lightset($scale) $shadow-width $color-back-lighten;
}

// .l-bump {
//   box-shadow: shadowset(l) 20px $color-back-darken,
//     lightset(l) 30px $color-back-lighten;
// }

// ==========================================
// 平面凹み
@mixin depressed($scale) {
  box-shadow: inset shadowset($scale) $color-back-darken,
    inset lightset($scale) $color-back-lighten;
}

// ==========================================
// 立体的なでっぱり
@mixin distinct($scale) {
  box-shadow:
    inset lightset($scale) $color-back-darken,
    inset shadowset($scale) $color-back-lighten,
    lightset($scale, distinct) $color-back-lighten,
    shadowset($scale, distinct) $color-back-darken;
  // text-shadow: shadowset($scale, tex) $color-link,
  //   lightset($scale, tex) $color-link;
  @include link-text($scale);
}

// ==========================================
// bumpとdepressedを同時に行う
@mixin bump-depressed($scale, $shadow-width: 0) {
  box-shadow: shadowset($scale) $shadow-width rgba($color-back-darken, 0.3),
    lightset($scale) $shadow-width rgba($color-back-lighten, 0.5),
    inset shadowset($scale) $color-back-darken,
    inset lightset($scale) $color-back-lighten;
}