@import "../../Setting/config";
@import "placeholder";

// ==========================================
// テーブルのスタイル
// ==========================================
@mixin content-scroll {
  white-space: nowrap;
  overflow: scroll;
}

@mixin contain-btn-cell {
  padding: 0;
  @include flexcontainer(row, nowrap);

  >a {
    margin: 1px;
  }
}

@mixin last-cell {
  min-width: 3rem;
  max-width: 8.25rem;
}

@mixin kadomaru($tl:0, $tr:0, $br:0, $bl:0) {
  border-radius: $tl $tr $br $bl;
}

%table {
  color: $color-font;
  background-color: rgba($color-back, 0.3);
  width: 100%;
  table-layout: fixed;
  padding: 3px;
  flex: 1;
}

@mixin four-corners-kadomaru($corner-radius:0) {

  // 四隅の角を丸くする(table要素にincludeする)
  tr {
    &:first-child {
      th {

        // 左上角
        &:first-child {
          @include kadomaru($corner-radius);
        }

        // 右上角
        &:last-child {
          @include kadomaru(0, $corner-radius);
        }
      }
    }

    &:last-child {
      td {

        // 左下角
        &:first-child {
          @include kadomaru(0, 0, 0, $corner-radius);
        }

        // 右下角
        &:last-child {
          @include kadomaru(0, 0, $corner-radius);
        }
      }
    }

  }
}

// thead内のみ -----------------------------
thead {

  tr {
    &:first-child {
      th {
        &:first-child {
          // border-radius: $innercell-corner 0 0 0;
        }

        &:last-child {
          // border-radius: 0 7px 0 0;
        }
      }
    }
  }
}

// tbody内のみ -----------------------------
tbody {
  tr {
    &:last-child {
      td {
        &:first-child {
          // border-radius: 0 0 0 7px;
          // white-space: nowrap;
          // overflow: scroll;
        }

        &:last-child {
          // border-radius: 0 0 7px 0;
        }
      }
    }
  }
}

// .__periodic_table内 -----------------------------
@mixin elect_shell($shell-size) {
  border: 1px dotted $color-font-dark;
  width: $shell-size;
  height: $shell-size;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border: 1px solid $color-font;
}