@import "../Setting/config";
@import "../Object/Mixin/placeholder";
@import "../Object/Project/module";

// =============================================
// * レイアウトファイルにはレイアウト系とmarginのプロパティのみ記述
// ==========================================
// headerレイアウト
// ==========================================
header {

  // background-color: rgba(31, 34, 27, 0.5);
  >h1 {
    // 内容は Object/Project/module内
  }

  >nav {
    @include flexcontainer(row, wrap);
    justify-content: flex-end;
    position: relative;
    flex: 1;
    // 内容は Object/Project/module内

    >ul {
      @include flexcontainer(row, wrap);
      justify-content: flex-end;
      position: absolute;
      bottom: 0;

      // 内容は Object/Project/module内

      >li {
        margin: 0 0.25rem;
        // 内容は Object/Project/module内
      }
    }
  }
}