@import "../Setting/config";
@import "../Object/Mixin/placeholder";
@import "../Object/Mixin/newmorphism";
@import "../Object/Project/btn";


main {
  h2 {
    margin-bottom: 1rem;
  }

  .main__btn {
    @extend .btn;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;

    &:active {
      @include depressed(sss);
      @include active-text(s);
    }
  }

  table {

    // height: 70%;
    // white-space: nowrap;
    // overflow: scroll;
    thead {
      tr {
        th {}
      }
    }

    tbody {
      tr {
        td {
          // &:last-child {}
        }
      }
    }

  }

}