/ ================================================
/ /glazes/new
/ 釉薬の新規登録画面
/ ================================================
h1 Glazes#new
p Find me in app/views/glazes/new.html.slim

/ = form_with model: material, local: true do |f|
/   .form__group
/       = f.label :name, class: 'form__label'
/       = f.text_field :name,
/         class: 'form__control_tex', id: 'material_name'

.seger_formula
