@charset "UTF-8";
// ========================================
//  サイトの基本設定
// ========================================
// 幅関係の設定 -----------------------------
$width-base: 1200px; // 全体
$width-main: 800px; // メインエリアの幅
$width-side: 360px; // サイドバーの幅

// ========================================
// フォント関係の設定
// ========================================
// ゴシック体
$font-sans-serif: 'Haas Grot Text R Web',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif,
Segoe UI,
// "Kokoro",
Sans-Serif;

// 明朝体
$font-serif: 'FOT-筑紫Aオールド明朝 Pr6N M',
'游明朝体',
'游明朝',
YuMincho,
'ヒラギノ明朝 ProN',
'Hiragino Mincho ProN',
'Noto Serif JP',
'ＭＳ Ｐ明朝',
'MS PMincho',
serif;
// cursive …筆記体
$font-cursive: cursive;
// monospace …等幅フォント
$font-monospace: monospace;
// ========================================
// スタイル関連の設定
// ========================================
// シャドウ、ライトの長さ/強さ/ぼかし ---------------------
$shadowlength: (sss: 2px,
  ss: 5px,
  s: 10px,
  m: 20px,
  l: 30px);


// ========================================
// サイズ関連の設定
// ========================================
$header-height: 3rem;
$footer-height: 3rem;

$table-corners: 8px;
$table-framewidth: 2px;

$innercell-corner: $table-corners - $table-framewidth;


// =================================================
// 色関係の設定
// =================================================
// サイトカラー
// 背景色
$color-back: rgba(41, 41, 41, 0.9);
$color-back-lighten: lighten($color-back, 10%);
$color-back-darken: darken($color-back, 8%);

// $color-main: #0062b2;// $color-sub: #def1fa;
// フォントカラー
$color-font: rgb(245, 211, 170);
$color-font-shadow: rgb(199, 173, 141);
// リンクカラー
$color-link: rgb(240, 158, 51);
// hover時のカラー
$color-hover: rgb(255, 117, 140);
// active時のカラー
$color-action: rgb(233, 45, 77);



// ブレイクポイント --------------------------
$breakpoints: (sp: "(max-width:599px)",
  pc: "(min-width:600px)",
);