// フォームのスタイル
#material_name {
  width: 50%;
  padding: 0px 6px;
}

.molecular_name {
  width: 12.5%;
  padding: 0px 6px;
}

// テーブルのスタイル
.table {
  background-color: rgba(230, 230, 230, 0.7);

  .thead.thead-dark {
    width: 100%;

    th {
      padding: 0.5rem;
    }

  }

  td {
    font-family: Segoe UI;
    padding: 0.5rem;
  }
}