@import "setting";

// ==========================================
// フォームのスタイル
// ==========================================
#material_name {
  width: 50%;
  padding: 0px 6px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color-font;
  background-color: $color-back;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: $color-action;
    background-color: $color-back-lighten;
    box-shadow: inset $ss-shadowset $color-back-darken,
      inset $sss-lightset $color-back-lighten;
    text-shadow: $s-shadowset $color-action,
      $s-lightset $color-action;
  }
}

// input {

// }

.molform-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .molinput-set {
    display: flex;
    flex-direction: column;
    margin: 1px;

    .molecular_name {
      width: 5rem;
      padding: 0px 6px;
    }
  }
}

// ==========================================
// nav-tab
// ==========================================
.nav-tabs {
  margin-left: 3px;
  border-bottom: none;
  z-index: 30;

  .nav-item {
    margin: 0 2px;

    .nav-link {
      .active {
        box-shadow: inset $ss-shadowset $color-back-darken,
          inset $sss-lightset $color-back-lighten;
        text-shadow: $s-shadowset $color-action,
          $s-lightset $color-action;
      }

      // box-shadow: $s-shadowset rgba($color-back-darken),
      //   $s-lightset $color-back-lighten
    }
  }
}



// ==========================================
// テーブルのスタイル
// ==========================================
table {
  color: $color-font;
  background-color: rgba($color-back, 0.3);
  padding: 2px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;

  thead.thead.thead-dark {
    width: 100%;

    tr {
      border-color: none;

      &:first-child {
        th:last-child {
          border-radius: 0 7px 0 0;
        }
      }

      &:last-child {
        th {
          :first-child {
            border-radius: 0 0 0 7px;
          }

          :last-child {
            border-radius: 0 0 7px 0;
          }
        }
      }

      th {
        padding: 0.5rem;
      }

      td {
        font-family: Segoe UI;
        padding: 3px;
      }
    }
  }
}

// ==========================================
// ボタン,リンクのスタイル
// ==========================================
.btn,
a {
  width: max-content;
  padding: 0 1rem;
  color: $color-link;
  background-color: rgba($color-back, 0.3);
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  @at-root a {
    background-color: inherit;
    padding: 0;
  }

  &:hover {
    color: $color-action;
    background: $color-back-lighten;
    // box-shadow: inset 2px 2px 8px rgb(212, 154, 164),
    //   inset -2px -2px 8px rgb(255, 198, 208);
    text-shadow: $l-shadowset $color-action,
      $l-lightset $color-action;
  }

  @at-root a:hover {
    background-color: inherit;
  }
}

.cleardeco {
  border: none;
  /* 枠線を消す */
  outline: none;
  /* クリックした時の枠線を消す */
  user-select: none;
}