@import "setting";

// ==========================================
// 平面でっぱり
// ==========================================
.s-bump {
  box-shadow: $s-shadowset $color-back-darken,
    $s-lightset $color-back-lighten;
}

.m-bump {
  box-shadow: $m-shadowset $color-back-darken,
    $m-lightset $color-back-lighten;
}

.l-bump {
  box-shadow: $l-shadowset 20px $color-back-darken,
    $l-lightset 30px $color-back-lighten;
}

// ==========================================
// 平面凹み
// ==========================================
.sss-depressed {
  box-shadow: inset $ss-shadowset $color-back-darken,
    inset $sss-lightset $color-back-lighten;
  // text-shadow: $s-shadowset $color-action,
  //   $s-lightset $color-action;
}

.ss-depressed {
  box-shadow: inset $ss-shadowset $color-back-darken,
    inset $ss-lightset $color-back-lighten;
  // text-shadow: $m-shadowset $color-action,
  //   $m-lightset $color-action;
}

.s-depressed {
  box-shadow: inset $s-shadowset $color-back-darken,
    inset $s-lightset $color-back-lighten;
  // text-shadow: $l-shadowset $color-action,
  //   $l-lightset $color-action;
}

// ==========================================
// 立体的なでっぱり
// ==========================================
.distinct {
  box-shadow:
    inset $sss-lightset $color-back-darken,
    inset $sss-shadowset $color-back-lighten,
    $sss-lightset $color-back-lighten,
    $sss-shadowset $color-back-darken;
  text-shadow: $m-shadowset $color-link,
    $m-lightset $color-link;
  // border: 1px $color-back-darken;
  // border: 0.5px solid gba($color-back-darken, 0.3);
  border: 1px solid gba(skyblue, 0.3);
}