/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  // レイアウト系
  display: flex;
  flex-direction: column;
  height: 100vh;

  color: rgb(150, 150, 150);

  background: {
    // color: call($name: , $args: …);
    color: rgb(31, 34, 27);
    image: url("/images/glaze_fav背景.png");
    attachment: fixed;
    size: cover;
  }

  // テキスト系
  font: {
    family: 'FOT-筑紫Aオールド明朝 Pr6N M',
      '游明朝体',
      '游明朝',
      YuMincho,
      'ヒラギノ明朝 ProN',
      'Hiragino Mincho ProN',
      'Noto Serif JP',
      'ＭＳ Ｐ明朝',
      'MS PMincho',
      serif;
    size: 1.5rem;
  }

  header {
    background-color: rgba(31, 34, 27, 0.5);
    // width: 100%;
    // height: 4rem;
    display: flex;
    flex-direction: row;

    h3 {
      font: {
        size: 3rem;
        weight: bolder;
      }

      width: 50%;

      padding: {
        left: 1rem;
      }
    }

    nav {
      width: 50%;
      display: flex;
      justify-content: flex-end;

      ul {
        list-style: none;

        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        top: 40%;

        cursor: pointer;

        li {
          // margin: 0 16px;
          padding: 0px 10px;
        }
      }
    }

  }

  main {
    margin: 0 16px;
    //       margin: 0 auto;
    //       flex: 1;
    // min-height: 50vh;
  }
}