/ ================================================
/ /about  glaze_fav_about
/ アプリの説明
/ ================================================

p 予め代表的な原料の成分は表で用意してある
p 予め代表的な原料の成分は表で用意してある
p 予め代表的な原料の成分は表で用意してある
p 予め代表的な原料の成分は表で用意してある
p 予め代表的な原料の成分は表で用意してある
