/ ================================================
/ /materials
/ ================================================

= render partial: 'materials-list'

= javascript_pack_tag 'materials/index'
/ , 'data-turbolinks-track': 'reload'
/ ,
/   'data-turbolinks-eval': 'false'
